*.pyc
*.so

\.idea

output

pretrained/

*.o

utils/operator_cxx/FCOSTargetGenerator/build/

utils/operator_cxx/FCOSRegression/build/

utils/operator_cxx/FCOSRecall/build/

.vscode
utils/operator_cxx/RetinaNetTargetGenerator/build/

openmpi-4.0.0/

openmpi-4.0.4/

openmpi-4.0.0.tar.gz

openmpi-4.0.4.tar.gz
